/R/.Rhistory
/R/Event-class.R~
/R/Font-class.R~
/R/Layer-class.R~
/R/LayerHandlers-class.R~
/R/Layout-class.R~
/R/Painter-class.R~
/R/Path-class.R~
/R/Transform-class.R~
/R/View-class.R~
/R/utils.R~
/man/View-class.Rd~
